@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.navbar {
    width: 100vw;
    height: 75px;
    background-color: #1976d2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.navbar a, .navbar {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
}

.navbar h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 30px;

}

@media only screen and (max-width: 564px) {
    .navbar h1 {
        display: none;
    }
    .navbar {

        justify-content: space-around;

    }

  }




li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    color: black;
}


.hero-container {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    background-image: url(./static/images/gymhero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.infoflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infobox {
    background-color: rgb(233, 233, 233);
    margin: 50px 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media only screen and (max-width: 700px) {
    .infoflex {
        flex-direction: column;

    }
    .infobox {
        padding: 10px;
    }
    .infoflex p {
     width: 80%;
    
    }
  }




.infoflex p {
    margin: 10 10px;
    font-size: 20px;

}

.gyminfotitle {
    font-size: 30px;
    margin: 0 10px;
    text-align: center;
    padding: 30px;
}

.pagetitle {
     font-size: 50px;
     margin: 0 10px;
     text-align: center;
     padding: 30px; 
     text-decoration: underline;   
}

.subtext {
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
    padding: 30px;
}

.tablecontainer {
    margin: 30px 0;
}


.joinbtn {
    margin: 20px  0 !important;
    
}


.footerbox {
    display: flex;
    flex-direction: row;
    background-color: #1976d2;
    padding: 30px 30px;
    justify-content: space-around;
    align-items: center;
    color: white;
}



.footerleft .footerright {
    padding: 10px;
}

.column {
    padding: 10px 0;
}

.cr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

a {
    text-decoration: none;
}


.registerbox {
    width: 100vw;
    min-height: 100% !important;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerbox h1 {
    text-align: center;
    margin: 0 10px;
}
.registerbox form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerbox form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #1976d2;
    border-radius: 5px;


}

.registerbox button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #1976d2;
    border-radius: 5px;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
}

.registerbox button {
    text-align: center;
}

#errorbox {
    background-color: #f8d7da;
    width: 40vw;
    padding: 10px;
    text-align: center;
    border: 2px solid #f5c6cb;
    border-radius: 10px;
    margin: 10px;
    display: none;
}


.sesh-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}


.sesh-table th, .sesh-table td {
    text-align: center;
    padding: 8px;
}

.sessions-page {
    min-height: 600px;
}

.page-title {
    text-align: center;
    margin: 30px 30px;

}

.sesh-table button {
    margin: 0 30px;
    padding: 10px;
    border: 1px solid #1976d2;
    border-radius: 5px;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
}

.sesh-table button:hover {
    background-color: #1a5276;
        

}

.bookings {
    min-height: 600px;
}


.infoboximage {
    border-radius: 10px;
    max-width: 100%;
    display: none;
}

@media only screen and (max-width: 700px) {
    .infoboximage {
        display: block;
    }
    
  }


  .profilebox {
    width: 100vw;
    min-height: 100% !important;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile-page h1 {
    text-align: center;
    margin: 0 10px;

}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.profile-image img {
    max-width: 100%;
}